h1{
    background-color:#283618;
    color:#fefae0;
    font-family: 'Bree Serif', serif;
    font-family: 'Jost', sans-serif;
   font-family: 'Kanit', sans-serif;
   font-family: 'Outfit', sans-serif;
   padding: 1.0em;
   

}
body{
    background-color:#fefae0 ;
}
h2{
    background-color:#606c38;
    color:#fefae0;
    font-family: 'Bree Serif', serif;
    font-family: 'Jost', sans-serif;
   font-family: 'Kanit', sans-serif;
   font-family: 'Outfit', sans-serif;
   margin: 0;
   text-align: right;
   padding-right: 1.5em;
   padding: 0.5em;

   
  
}
h1,h2,h3{
    margin: 0;
}
a {
    color: #fefae0;
    text-decoration: none;
    padding: 0.9em;
}
  
  a:hover {
    color:greenyellow; 
  }

  a:active {
    color: #fefae0; 
  }
  h3{
    background-color:#e9edc9;
    color:#606c38;
    font-family: 'Bree Serif', serif;
    font-family: 'Jost', sans-serif;
   font-family: 'Kanit', sans-serif;
   font-family: 'Outfit', sans-serif;
   padding: 1.0em;
   

}
.container{
    color:#283618;
    font-family: 'Jost', sans-serif;
   font-size:50px;
   padding-left: 0.5em;
  
   display: flex;
   position: relative;
      max-width: 100%;
      overflow: hidden;
}

.left{
    width: 28%;
    text-align: left;
}
.right{
    width: 48%;
    text-align: right;
    padding-right: 0.5em;
}
.about{
    color:#588157;
    font-family: 'Jost', sans-serif;
   font-size:30px;
   padding-left: 0.5em;
   padding-right: 0.5em;
   display: flex;
   position: relative;

}
button {
    background-color:#283618;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

  }
  
  button:hover {
    background-color: #283618;
    animation: shake 0.5s;
  }
  
  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    25%, 75% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
  }
  .team
  {
    background-color:#283618;
    color:#fefae0;
    font-family: 'Bree Serif', serif;
    font-family: 'Jost', sans-serif;
   font-family: 'Kanit', sans-serif;
   font-family: 'Outfit', sans-serif;
   padding: 1.0em;
   font-size: 30px;
   
  }
  .team1
  {
    background-color:#283618;
    color:#fefae0;
    font-family: 'Bree Serif', serif;
    font-family: 'Jost', sans-serif;
   font-family: 'Kanit', sans-serif;
   font-family: 'Outfit', sans-serif;
   padding: 1.0em;
   font-size: 20px;
   
  }
  .login-container {
    text-align: center;
    width: 300px;
  }

  .login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }

  .login-container button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .login-container button[type="reset"] {
    background-color: #e74c3c;
  }